<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-2">
        <h5>E-Commerce</h5>
        <ul>
          <li><a >About Us</a></li>
          <li><a >Become A bigbasket Rider</a></li>
          <li><a >In News</a></li>
          <li><a >Green bigbasket</a></li>
          <li><a >Privacy Policy</a></li>
          <li><a >Affiliate</a></li>
          <li><a >Terms & Conditions</a></li>
          <li><a >Careers at bigbasket</a></li>
          <li><a >bb Instant</a></li>
          <li><a >bb Daily</a></li>
          <li><a >bbNow</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <h5>Help</h5>
        <ul>
          <li><a >FAQs</a></li>
          <li><a >Contact Us</a></li>
          <li><a >bb Wallet FAQs</a></li>
          <li><a >bb Wallet T&Cs</a></li>
          <li><a >Vendor Connect</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <div class="d-flex">
          <img class="footImg" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
            alt="">
          <img class="footImg2" src="https://raw.githubusercontent.com/voidChetan/bigbasket_ecommerce_angular/9e4ef3144a07beccf7d59184e229843157eece33/src/assets/download-on-the-app-store-apple-logo-svgrepo-com.svg" alt="">
        </div>
        <ul class="d-flex">
          <li><a><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a><i class="fa-brands fa-instagram"></i></a></li>
          <li><a><i class="fa-brands fa-twitter"></i></a></li>
          <li><a><i class="fa-brands fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>