<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-12">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Category Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of categorys$ | async; let i = index">
            <td>{{item.categoryId}}</td>
            <td>{{item.categoryName}}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm" (click)="deleteCategory(item.id)">Delete</button>
            </td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>