<div class="container card-body pt-5">
  <Form class="row" [formGroup]="reactiveForm" (ngSubmit)="submitForm()">
    <div class="col-6">
      <label for="SKU">SKU</label>
      <input type="text"
            name="SKU"
            id="SKU"
            placeholder="SKU"
            class="form-control"
            formControlName="SKU"
            (input)="onSKUInput($event)"
            (input)="onInput($event, reactiveForm.controls['SKU'], [{ type: 'required', value: null }, { type: 'minlength', value: 10 }, { type: 'maxlength', value: 20 }])"
            [ngClass]="{ 'is-invalid': reactiveForm.controls['SKU'].invalid && (reactiveForm.controls['SKU'].touched || reactiveForm.controls['SKU'].dirty) }">

      <div *ngIf="SKU?.invalid && (SKU?.touched || SKU?.dirty)" class="invalid-feedback">
        <div *ngIf="SKU?.errors?.['required']" class="text-center mb-2">
          <span class="text-danger fw-bold">Enter SKU.</span>
        </div>
        <div *ngIf="SKU?.errors?.['minlength']" class="text-center mb-2">
          <span class="text-danger fw-bold">SKU must be at least 10 characters long.</span>
        </div>
        <div *ngIf="SKU?.errors?.['maxlength']" class="text-center mb-2">
          <span class="text-danger fw-bold">SKU cannot be more than 20 characters long.</span>
        </div>
      </div>
    </div>



    <div class="col-6">
      <label for="name">Name</label>
      <input type="text"
              name="name"
              id="name"
              placeholder="name"
              class="form-control"
              formControlName="name"
              [ngClass]="{ 'is-invalid': name?.invalid && (name?.touched || name?.dirty) }">
              <!-- (input)="handleInput($event, 'name')" -->
              <div  *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="invalid-feedback">
                <div *ngIf="name?.hasError('required')" class="text-center mb-2">
                  <span >Enter Name.</span>
                </div>
                <div *ngIf="!name?.hasError(CustomValidationType.required) && name?.hasError(CustomValidationType.minLength)" class="text-center mb-2">
                  <span >Name must be at least {{ name?.errors?.[CustomValidationType.minLength]?.requiredLength }} characters long. Current length: {{ name?.errors?.[CustomValidationType.minLength]?.actualLength }}.</span>
                </div>
                <div *ngIf="!name?.hasError(CustomValidationType.required) && name?.hasError(CustomValidationType.maxLength)" class="text-center mb-2">
                  <span >Name cannot be more than {{ name?.errors?.['maxLength']?.requiredLength }} characters long. Current length: {{ name?.errors?.['maxLength']?.actualLength }}.</span>
                </div>
                <div *ngIf="!name?.hasError(CustomValidationType.required) && !name?.hasError(CustomValidationType.minLength) && !name?.hasError(CustomValidationType.maxLength) && name?.hasError(CustomValidationType.englishOnly)">
                  <span >Name must contain only english characters.</span>
                </div>
              </div>

    </div>

    <div class="col-6">
      <label for="shortname">Short Name</label>
      <input type="text" name="shortname" id="shortname" placeholder="shortname" class="form-control"

              formControlName="shortname"
              (input)="onInput($event, reactiveForm.controls['shortname'], [{ type: 'required', value: null }, { type: 'minlength', value: 3 }, { type: 'maxlength', value: 10 }])"
              [ngClass]="{ 'is-invalid': shortname?.invalid && (shortname?.touched || shortname?.dirty) }"
              >

      <div *ngIf="shortname?.invalid && (shortname?.touched || shortname?.dirty)" class="invalid-feedback">
        <div *ngIf="shortname?.errors?.['required']" class="text-center mb-2">
          <span class="text-danger fw-bold">Enter Short Name.</span>
        </div>
        <div *ngIf="shortname?.errors?.['minlength']" class="text-center mb-2">
          <span class="text-danger fw-bold">Short Name must be at least 3 characters long.</span>
        </div>
        <div *ngIf="shortname?.errors?.['maxlength']" class="text-center mb-2">
          <span class="text-danger fw-bold">Short Name cannot be more than 10 characters long.</span>
        </div>
      </div>


    </div>
    <div class="col-6">
      <label for="price">Price</label>
      <input type="number"
             name="price"
             id="price"
             placeholder="price"
             class="form-control"
             formControlName="price"
             [ngClass]="{ 'is-invalid': price?.invalid && (price?.touched || price?.dirty) }">

      <div *ngIf="price?.invalid && (price?.touched || price?.dirty)" class="invalid-feedback">
        <div *ngIf="price?.hasError(CustomValidationType.required)" class="text-center mb-2">
          <span >Enter Price.</span>
        </div>
        <!-- <div *ngIf="price?.errors?.[CustomValidationType.minValue]" class="text-center mb-2">
          <span >Price must be greater than or equal 1.</span>
        </div>
        <div *ngIf="price?.errors?.[CustomValidationType.maxValue]" class="text-center mb-2">
          <span >Price must be less than or equal 1000.</span>
        </div> --> 
        <div *ngIf="!price?.hasError(CustomValidationType.required) && price?.hasError(CustomValidationType.patternValidator)" class="text-center mb-2">
          <span>price must be a less than or equal 50 and greater than or equal 210</span>
        </div>
        <div *ngIf="!price?.hasError(CustomValidationType.required) && !price?.hasError(CustomValidationType.patternValidator) && price?.hasError(CustomValidationType.negativeValue)" class="text-center mb-2">
          <span>Price must be greater than 1</span>
          </div>

      </div>
    </div>

  <div class="col-6">
    <label for="category">Category</label>
    <select name="category"
            id="category"
            class="form-select"
            formControlName="category"
            >
            <option value="" disabled>Select Category Of Product</option>
    </select>
    <!-- <div *ngIf="category?.invalid && (category?.touched || category?.dirty)" class="invalid-feedback">
      <div *ngIf="category?.errors?.['required']" class="text-center mb-2">
        <span class="text-danger fw-bold">Select Category.</span>
      </div>
    </div> -->
        <!-- <option value="" disabled>Select Category</option> -->
        <!-- required
        (change)="onInput($event, reactiveForm.controls['category'], [{ type: 'required', value: null }])"
        (blur)="onInput($event, reactiveForm.controls['category'], [{ type: 'required', value: null }, ])"
        [ngClass]="{ 'is-invalid': category?.invalid && (category?.touched || category?.dirty) }" -->

  </div>
    <div class="col-6">
      <label for="delivery">Delivery Time</label>
      <select name="delivery"
              id="delivery"
              class="form-select"
              formControlName="deleverytime"
              required
              (change)="onInput($event, reactiveForm.controls['deleverytime'], [{ type: 'required', value: null }])"
              (blur)="onInput($event, reactiveForm.controls['deleverytime'], [{ type: 'required', value: null }, ])"
              [ngClass]="{ 'is-invalid': deleverytime?.invalid && (deleverytime?.touched || deleverytime?.dirty) }"
            >
        <option value="" disabled selected>Select Delivery Time</option>
        <option value="1 day">1 day</option>
        <option value="2 days">2 days</option>
        <option value="3 days">3 days</option>
      </select>
      <div *ngIf="deleverytime?.invalid && (deleverytime?.touched || deleverytime?.dirty)" class="invalid-feedback">
        <div *ngIf="deleverytime?.errors?.['required']" class="text-center mb-2">
          <span class="text-danger fw-bold">Select Delivery Time.</span>
        </div>
      </div>

    </div>

    <div class="col-6">
      <label for="image">Image URL</label>
      <input type="text" name="image" id="image" placeholder="image" class="form-control" formControlName="image"
      [ngClass]="{ 'is-invalid': image?.invalid && (image?.touched || image?.dirty) }"
      >

      <div *ngIf="image?.invalid && (image?.touched || image?.dirty)" class="invalid-feedback">
        <div *ngIf="image?.errors?.[CustomValidationType.required]" class="text-center mb-2">
          <span >Enter Image URL.</span>
        </div>
        <div *ngIf="image?.errors?.[CustomValidationType.englishOnly]" class="text-center mb-2">
          <span >Image must be in English.</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        placeholder="Description"
        class="form-control"
        formControlName="description"
        [appInputNumbersLanguages]="'english'"
        [ngClass]="{ 'is-invalid': description?.invalid && (description?.touched || description?.dirty) }"
        ></textarea>

      <div *ngIf="description?.invalid && (description?.touched || description?.dirty)" class="invalid-feedback">
        <div *ngIf="description?.hasError(CustomValidationType.required)" class="text-center mb-2">
          <span class="text-danger fw-bold">Enter Description.</span>
        </div>
        <div *ngIf="!description?.hasError(CustomValidationType.required) && description?.hasError(CustomValidationType.minLength)" class="text-center mb-2">
          <span class="text-danger fw-bold">Description must be at least 3 characters long {{ description?.errors?.[CustomValidationType.minLength]?.actualLength }}.</span>
        </div>
        <div *ngIf="!description?.hasError(CustomValidationType.required) && description?.hasError(CustomValidationType.maxLength)" class="text-center mb-2">
          <span class="text-danger fw-bold">Description cannot be more than 500 characters long {{ description?.errors?.[CustomValidationType.maxLength]?.actualLength }}.</span>
        </div>
      </div>
    </div>
    
    <div class="col-6">
      <label for="softcode">Soft Code</label>
      <input
        name="SOFT_Code"
        id="softcode"
        placeholder="SOFT_Code"
        class="form-control"
        formControlName="SOFT_Code"
        [ngClass]="{ 'is-invalid': softCode?.invalid && (softCode?.touched || softCode?.dirty) }"
        >

        <div *ngIf="softCode?.invalid && (softCode?.touched || softCode?.dirty)" class="invalid-feedback">
          <small *ngIf="softCode?.errors?.[CustomValidationType.required]">Soft Code is required</small>
          <small *ngIf="softCode?.errors?.[CustomValidationType.SOFT_Code]">
            Enter a valid SWIFT code: 4 uppercase letters (bank), 2 uppercase letters (country), 2 alphanumeric (location), and optional 3 alphanumeric (branch). E.g., ABCDGB2LXXX.
          </small>
        </div>
    </div>
    <!-- <div class="col-6">
      <label for="name">Name</label>
      <input type="text"
              name="name"
              id="name"
              placeholder="name"
              class="form-control"
              formControlName="name"
              [ngClass]="{ 'is-invalid': name?.invalid && (name?.touched || name?.dirty) }">
              <div  *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="invalid-feedback">
                <div *ngIf="name?.hasError('required')" class="text-center mb-2">
                  <span >Enter Name.</span>
                </div>
                <div *ngIf="!name?.hasError(CustomValidationType.required) && name?.hasError(CustomValidationType.minLength)" class="text-center mb-2">
                  <span >Name must be at least {{ name?.errors?.[CustomValidationType.minLength]?.requiredLength }} characters long. Current length: {{ name?.errors?.[CustomValidationType.minLength]?.actualLength }}.</span>
                </div>
                <div *ngIf="!name?.hasError(CustomValidationType.required) && name?.hasError(CustomValidationType.maxLength)" class="text-center mb-2">
                  <span >Name cannot be more than {{ name?.errors?.['maxLength']?.requiredLength }} characters long. Current length: {{ name?.errors?.['maxLength']?.actualLength }}.</span>
                </div>
                <div *ngIf="!name?.hasError(CustomValidationType.required) && !name?.hasError(CustomValidationType.minLength) && !name?.hasError(CustomValidationType.maxLength) && name?.hasError(CustomValidationType.englishOnly)">
                  <span >Name must contain only english characters.</span>
                </div>
              </div>

    </div> -->



    <div class="col-6">
      <label for="iban">IBAN</label>
      <input
        name="IBAN"
        id="iban"
        placeholder="IBAN"
        class="form-control"
        formControlName="IBAN"
        [ngClass]="{ 'is-invalid': IBAN?.invalid && (IBAN?.touched || IBAN?.dirty) }"
        >
        <div *ngIf="IBAN?.invalid && (IBAN?.touched || IBAN?.dirty)" class="invalid-feedback">
          <!-- Prioritize the required message if the field is empty -->
          <small *ngIf="IBAN?.errors?.[CustomValidationType.required]">IBAN is required</small>
          <!-- Show the mobile number validation error only if the field is not empty -->
          <small *ngIf="IBAN?.hasError(CustomValidationType.IBAN)">
            Please enter a valid IBAN.It should start with 2 uppercase letters for the country code, followed by 2 digits,and then between 15 up to 34 alphanumeric characters.
          </small>
        </div>
    </div>
    <div class="col-6">
      <label for="mobile">Mobile</label>
      <input
        name="mobile"
        id="mobile"
        placeholder="Mobile"
        class="form-control"
        formControlName="mobileNumber"
        (keypress)="preventNonNumericInput($event)"
        [ngClass]="{ 'is-invalid': mobileNumber?.invalid && (mobileNumber?.touched || mobileNumber?.dirty) }"
        >

        <div *ngIf="mobileNumber?.invalid && mobileNumber?.touched" class="invalid-feedback">
          <!-- Prioritize the required message if the field is empty -->
          <small *ngIf="mobileNumber?.errors?.[CustomValidationType.required]">Mobile Number is required</small>
          <!-- Show the mobile number validation error only if the field is not empty -->
          <small *ngIf="mobileNumber?.errors?.[CustomValidationType.mobileNumberValidation] && !mobileNumber?.errors?.[CustomValidationType.required]">
            Mobile Number is not valid
          </small>
        </div>
    </div>
    <div class="col-6">
      <label for="slug">SLUG</label>
      <input
        name="slug"
        id="mobile"
        placeholder="slug"
        class="form-control"
        formControlName="slug"
        [ngClass]="{ 'is-invalid': slug?.invalid && (slug?.touched || slug?.dirty) }"
        [appInputNumbersLanguages]="'englishWithNumbers'"
        > 

        <div *ngIf="slug?.invalid && slug?.touched" class="invalid-feedback">
          <!-- Prioritize the required message if the field is empty -->
          <small *ngIf="slug?.errors?.[CustomValidationType.required]">slug is required</small>
          <!-- Show the mobile number validation error only if the field is not empty -->
          <!-- <small *ngIf="slug?.errors?.[CustomValidationType.patternValidator] && !slug?.errors?.[CustomValidationType.required]">
            SLUG is not valid  Slug can only contain lowercase letters and numbers
          </small> -->
        </div>
    </div>
    <div class="col-6">
      <label for="numb">Numb</label>
      <input
        id="numb"
        class="form-control"
        formControlName="num"
        [appInputNumbersLanguages]="'numbers'"
        [ngClass]="{ 'is-invalid': num?.invalid && (num?.touched || num?.dirty) }"
        >
        <div *ngIf="num?.invalid && (num?.touched || num?.dirty)" class="invalid-feedback">
          <div *ngIf="num?.hasError(CustomValidationType.required)">
            <small>Numb is required</small>
          </div>
          <div *ngIf="num?.hasError(CustomValidationType.patternValidator) && !num?.errors?.[CustomValidationType.required]">
            <small>num must less than 1000 and greater than 110 </small>
          </div>
        </div>
    </div>
    <div class="col-6">
      <label for="arabicInput">Arabic Input:</label>
      <input id="arabicInput" type="text" class="form-control" [appInputNumbersLanguages]="'arabic'">
    </div>
    <div class="col-6">
      <label for="englishInput">English Input:</label>
      <input id="englishInput" type="text" class="form-control" [appInputNumbersLanguages]="'english'">
    </div>
    <div class="col-6">
      <label for="englishInput">ُEnglish With Numbers Input:</label>
      <input id="englishInput" type="text" class="form-control" [appInputNumbersLanguages]="'englishWithNumbers'">
    </div>
    <div class="col-6">
      <label for="numberWithCommas">Desc</label>
      <input id="numberWithCommas" type="text" class="form-control" formControlName="desc"
      [ngClass]="{ 'is-invalid': desc?.invalid && (desc?.touched || desc?.dirty) }"
      [appInputNumbersLanguages]="'englishWithNumbers'"
      >
      <div *ngIf="desc?.invalid && (desc?.touched || desc?.dirty)" class="invalid-feedback">
        <div *ngIf="desc?.hasError(CustomValidationType.required)">
          <small>desc is required</small>
        </div>
        <!-- {{ description?.errors?.[CustomValidationType.maxLength]?.actualLength }}. -->
        <div *ngIf="!desc?.hasError(CustomValidationType.required) && desc?.hasError(CustomValidationType.patternValidator)">
          <small>desc must be between 5 and 15 characters. Current length: {{ desc?.errors?.[CustomValidationType.patternValidator]?.actualLength }}.</small>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-6">
        <button  class="btn btn-sm btn-outline-secondary" (click)="clearForm()">Clear</button>
      </div>
      <div class="col-6">
        <button type="submit"  class="btn btn-sm btn-outline-primary" >Create Product</button>
      </div>
    </div>

  </Form>

</div>
