

<div class="row pt-4">
  <div [ngClass]="isSidePanelVisable ? 'col-8' : 'col-12'">
    <div class="card">
      <div class="card-header bg-light-subtle">
        <div class="row">
          <div class="col-6">
            product List
          </div>
          <div class="col-6 text-end">
            @if(!isSidePanelVisable){
            <button class="btn btn-sm btn-outline-primary" (click)="isSidePanelVisable = !isSidePanelVisable">Add new product</button>
            }
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-3" *ngFor="let product of productList; let i=index">
            <div class="card">
              <img class="card-img-top" style="height: 200px" [src]="product.productImageUrl" alt="productImage">
              <div class="card-body">
                <h4 class="card-title text-center">{{product.productName}}</h4>
                <p class="card-text">{{product.productDescription}}</p>
                <p class="card-text"><strong>Price:</strong> {{product.productPrice | currency}}</p>
                <p class="card-text"><strong>Delivery Time:</strong> {{product.deliveryTimeSpan}}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-primary" (click)="updateButton(product.id!)">Update</button>
                  <button class="btn btn-danger" (click)="deleteProduct(product.id!)">Delete</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  @if(isSidePanelVisable){
    <div class="col-4">
      <div class="card">
        <div class="card-header bg-light-subtle">
          <div class="row">
            <div class="col-6">
              New product
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-outline-danger" (click)="isSidePanelVisable = !isSidePanelVisable">Close</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <div class="row">

            <div class="col-6">
              <label for="SKU">SKU</label>
              <input type="text"
                      name="SKU"
                      id="SKU"
                      placeholder="SKU"
                      class="form-control"
                      required
                      minlength="3"
                      maxlength="10"
                      [(ngModel)]="productObj.productSku"
                      #sku="ngModel"
                      (input)="checkInputValidity(sku, [{ type: 'required', value: null }, { type: 'minlength', value: 3 }, { type: 'maxlength', value: 10 }])"
                      [ngClass]="{ 'is-invalid': sku.invalid && (sku.dirty || sku.touched) }">
              <div class="invalid-feedback" *ngIf="sku.invalid && (sku.dirty || sku.touched)">
                <p *ngIf="sku.errors?.['required']">SKU is required.</p>
                <p *ngIf="sku.errors?.['minlength']">SKU must be at least 3 characters long.</p>
                <p *ngIf="sku.errors?.['maxlength']">SKU cannot be more than 10 characters long.</p>
              </div>
            </div>


            <div class="col-6">
              <label for="name">Name</label>
              <input type="text"
                      name="name"
                      id="name"
                      placeholder="name"
                      class="form-control"
                      [(ngModel)]="productObj.productName"
                      #name="ngModel"
                      required
                      minlength="3"
                      maxlength="10"
                      (input)="checkInputValidity(name, [{ type: 'required', value: null }, { type: 'minlength', value: 3 }, { type: 'maxlength', value: 10 }])"
                      [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }">
                      <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <p *ngIf="name.errors?.['required']">Name is required.</p>
                        <p *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</p>
                        <p *ngIf="name.errors?.['maxlength']">Name cannot be more than 10 characters long.</p>
                      </div>
            </div>

            <div class="col-6">
              <label for="shortname">Short Name</label>
              <input type="text" name="shortname" id="shortname" placeholder="shortname" class="form-control" [(ngModel)]="productObj.productShortName" #shortname="ngModel"
                      required
                      minlength="3"
                      maxlength="10"
                      (input)="checkInputValidity(shortname, [{ type:'required', value: null }, { type:'minlength', value: 3 }, { type:'maxlength', value: 10 }])"
                      [ngClass]="{ 'is-invalid': shortname.invalid && (shortname.dirty || shortname.touched) }">
                      <div class="invalid-feedback" *ngIf="shortname.invalid && (shortname.dirty || shortname.touched)">
                        <p *ngIf="shortname.errors?.['required']">Short Name is required.</p>
                        <p *ngIf="shortname.errors?.['minlength']">Short Name must be at least 3 characters long.</p>
                        <p *ngIf="shortname.errors?.['maxlength']">Short Name cannot be more than 10 characters long.</p>
                      </div>
            </div>
            <div class="col-6">
              <label for="price">Price</label>
              <input type="number" name="price" id="price" placeholder="price" class="form-control" [(ngModel)]="productObj.productPrice" #price="ngModel"
                      required
                      min="1"
                      max="1000"
                      (input)="checkInputValidity(price, [{ type: 'required', value: null }, { type: 'min', value: 1 }, { type: 'max', value: 1000 }])"
                      [ngClass]="{ 'is-invalid': price.invalid && (price.dirty || price.touched) }">
              <div class="invalid-feedback" *ngIf="price.invalid && (price.dirty || price.touched)">
                <p *ngIf="price.errors?.['required']">Price is required.</p>
                <p *ngIf="price.errors?.['min']">Price must be greater than 0.</p>
                <p *ngIf="price.errors?.['max']">Price cannot be more than 1000.</p>
              </div>
            </div>

          <div class="col-6">
            <label for="category">Category</label>
            <select name="category"
                    id="category"
                    class="form-select"
                    [(ngModel)]="productObj.categoryId"
                    #categoryInput="ngModel"
                    required
                    (blur)="checkInputValidity(categoryInput, [{ type: 'required', value: null }])"
                    (change)="checkInputValidity(categoryInput, [{ type: 'required', value: null }])"
                    [ngClass]="{ 'is-invalid': categoryInput.invalid && (categoryInput.dirty || categoryInput.touched) }">

                <option value="" disabled>Select Category Of Product</option>
                <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.categoryName}}</option>
            </select>
            <div class="invalid-feedback"  *ngIf="categoryInput.invalid && (categoryInput.dirty || categoryInput.touched)">
              <p *ngIf="categoryInput.errors?.['required']">Category is required.</p>
            </div>
          </div>
            <div class="col-6">
              <label for="delivery">Delivery Time</label>
              <select name="delivery" id="delivery" class="form-select" [(ngModel)]="productObj.deliveryTimeSpan" #deliveryInput="ngModel"
                    required
                    (change)="checkInputValidity(deliveryInput, [{ type: 'required', value: null }])"
                    [ngClass]="{ 'is-invalid': deliveryInput.invalid && (deliveryInput.dirty || deliveryInput.touched) }">
                <option value="" disabled selected>Select Delivery Time</option>
                <option value="1 day">1 day</option>
                <option value="2 days">2 days</option>
                <option value="3 days">3 days</option>
              </select>
              <div class="invalid-feedback" *ngIf="deliveryInput.invalid && (deliveryInput.dirty || deliveryInput.touched)">
                <p *ngIf="deliveryInput.errors?.['required']">Delivery time is required.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="image">Image URL</label>
              <input type="text" name="image" id="image" placeholder="image" class="form-control" [(ngModel)]="productObj.productImageUrl">
            </div>
            <div class="col-6">
              <label for="description">Product Description</label>
              <textarea
                name="description"
                id="description"
                placeholder="Description"
                class="form-control"
                [(ngModel)]="productObj.productDescription"
                required
                minlength="10"
                maxlength="20"
                #descriptionInput="ngModel"
                (input)="checkInputValidity(descriptionInput, [{ type: 'required', value: null }, { type: 'minlength', value: 10 }, { type: 'maxlength', value: 20 }])"
                [ngClass]="{ 'is-invalid': descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched) }">
              ></textarea>
              <div class="invalid-feedback" *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)">
                <p *ngIf="descriptionInput.errors?.['required']">Description is required.</p>
                <p *ngIf="descriptionInput.errors?.['minlength']">Description must be at least 10 characters long.</p>
                <p *ngIf="descriptionInput.errors?.['maxlength']">Description cannot be more than 20 characters long.</p>
              </div>
            </div>


          </div> -->
          <div class="row">
            <div class="col-6">
              <label for="SKU">SKU</label>
              <input type="text"
                     name="SKU"
                     id="SKU"
                     placeholder="SKU"
                     class="form-control"
                     required
                     minlength="3"
                     maxlength="10"
                     [(ngModel)]="productObj.productSku"
                     #sku="ngModel"
                     [appValidateInput]="[{ type: 'required', value: null }, { type: 'minlength', value: 3 }, { type: 'maxlength', value: 10 }]"                     [ngClass]="{ 'is-invalid': sku.invalid && (sku.dirty || sku.touched) }">
              <div class="invalid-feedback" *ngIf="sku.invalid && (sku.dirty || sku.touched)">
                <p *ngIf="sku.errors?.['required']">SKU is required.</p>
                <p *ngIf="sku.errors?.['minlength']">SKU must be at least 3 characters long.</p>
                <p *ngIf="sku.errors?.['maxlength']">SKU cannot be more than 10 characters long.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="name">Name</label>
              <input type="text"
                      name="name"
                      id="name"
                      placeholder="name"
                      class="form-control"
                      [(ngModel)]="productObj.productName"
                      #name="ngModel"
                      required
                      minlength="3"
                      maxlength="10"
                      [appValidateInput]="[{ type: 'required', value: null }, { type: 'minlength', value: 3 }, { type: 'maxlength', value: 10 }]"
                      [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }">
                <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
                <p *ngIf="name.errors?.['required']">Name is required.</p>
                <p *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</p>
                <p *ngIf="name.errors?.['maxlength']">Name cannot be more than 10 characters long.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="shortname">Short Name</label>
              <input type="text"
                     name="shortname"
                     id="shortname"
                     placeholder="shortname"
                     class="form-control"
                     [(ngModel)]="productObj.productShortName"
                     #shortname="ngModel"
                     required
                     minlength="3"
                     maxlength="10"
                     [appValidateInput]="[{ type: 'required', value: null }, { type: 'minlength', value: 3 }, { type: 'maxlength', value: 10 }]"
                     [ngClass]="{ 'is-invalid': shortname.invalid && (shortname.dirty || shortname.touched) }">
              <div class="invalid-feedback" *ngIf="shortname.invalid && (shortname.dirty || shortname.touched)">
                <p *ngIf="shortname.errors?.['required']">Short Name is required.</p>
                <p *ngIf="shortname.errors?.['minlength']">Short Name must be at least 3 characters long.</p>
                <p *ngIf="shortname.errors?.['maxlength']">Short Name cannot be more than 10 characters long.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="price">Price</label>
              <input type="number"
                     name="price"
                     id="price"
                     placeholder="price"
                     class="form-control"
                     [(ngModel)]="productObj.productPrice"
                     #price="ngModel"
                     required
                     min="1"
                     max="1000"
                     [appValidateInput]="[{ type: 'required', value: null }, { type: 'min', value: 1 }, { type: 'max', value: 1000 }]"
                     [ngClass]="{ 'is-invalid': price.invalid && (price.dirty || price.touched) }">
              <div class="invalid-feedback" *ngIf="price.invalid && (price.dirty || price.touched)">
                <p *ngIf="price.errors?.['required']">Price is required.</p>
                <p *ngIf="price.errors?.['min']">Price must be greater than 0.</p>
                <p *ngIf="price.errors?.['max']">Price cannot be more than 1000.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="category">Category</label>
              <select name="category"
                      id="category"
                      class="form-select"
                      [(ngModel)]="productObj.categoryId"
                      #categoryInput="ngModel"
                      required
                      [appValidateInput]="[{ type: 'required', value: null }]"
                      [ngClass]="{ 'is-invalid': categoryInput.invalid && (categoryInput.dirty || categoryInput.touched) }">
                <option value="" disabled>Select Category Of Product</option>
                <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.categoryName}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="categoryInput.invalid && (categoryInput.dirty || categoryInput.touched)">
                <p *ngIf="categoryInput.errors?.['required']">Category is required.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="delivery">Delivery Time</label>
              <select name="delivery"
                      id="delivery"
                      class="form-select"
                      [(ngModel)]="productObj.deliveryTimeSpan"
                      #deliveryInput="ngModel"
                      required
                      [appValidateInput]="[{ type: 'required', value: null }]"
                      [ngClass]="{ 'is-invalid': deliveryInput.invalid && (deliveryInput.dirty || deliveryInput.touched) }">
                <option value="" disabled selected>Select Delivery Time</option>
                <option value="1 day">1 day</option>
                <option value="2 days">2 days</option>
                <option value="3 days">3 days</option>
              </select>
              <div class="invalid-feedback" *ngIf="deliveryInput.invalid && (deliveryInput.dirty || deliveryInput.touched)">
                <p *ngIf="deliveryInput.errors?.['required']">Delivery time is required.</p>
              </div>
            </div>

            <div class="col-6">
              <label for="image">Image URL</label>
              <input type="text"
                     name="image"
                     id="image"
                     placeholder="image"
                     class="form-control"
                     [(ngModel)]="productObj.productImageUrl">
            </div>

            <div class="col-6">
              <label for="description">Product Description</label>
              <textarea name="description"
                        id="description"
                        placeholder="Description"
                        class="form-control"
                        rows="3"
                        [(ngModel)]="productObj.productDescription"
                        #description="ngModel"
                        required
                        minlength="5"
                        maxlength="20"
                        [appValidateInput]="[{ type: 'required', value: null }, { type: 'minlength', value: 5 }, { type: 'maxlength', value: 20 }]"
                        [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }">
              </textarea>
              <div class="invalid-feedback" *ngIf="description.invalid && (description.dirty || description.touched)">
                <p *ngIf="description.errors?.['required']">Description is required.</p>
                <p *ngIf="description.errors?.['minlength']">Description must be at least 5 characters long.</p>
                <p *ngIf="description.errors?.['maxlength']">Description cannot be more than 20 characters long.</p>
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6">
              <button class="btn btn-sm btn-outline-secondary" (click)="clearForm()">Clear</button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-sm btn-outline-primary" (click)="updateMode ? updateProduct() : createProduct() ">{{updateMode ? 'Update' : 'Create Product'}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
