
<div class="container">
  <div class="row pt-5">
    @for(products of productsSameCategory; track $index){
      <div class="col-lg-6 col-xl-4 rounded">
        <div class="p-4 rounded bg-light">
            <div class="row align-items-center">
                <div class="col-6">
                    <img [src]="products.productImageUrl" class="img-fluid rounded-circle w-100" alt="">
                </div>
                <div class="col-6">
                    <a href="#" class="h5">{{products.productName}}</a>
                    <div class="d-flex my-3">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="mb-3">{{products.productPrice}}$</h4>
                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                            class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    }@empty {
      <h4 class="text-center pt-5">Sorry, No Products Founded We Will Add Soon</h4>
    }
  
  </div>
</div>