<div class="contact">
  <div class="container">
      <div class="wrapper">
          <form action="" class="left animate">
              <div class="head">
                  <h2>Get In Touch</h2>
              </div>
              <p>
                  <label for="name">Your Name</label>
                  <input type="text" name="name" id="name" placeholder="Hesham AHmed Shaban">
              </p>
              <p>
                  <label for="email">Your Email</label>
                  <input type="email" name="email" id="email" placeholder="heshamshaban0098@gmail.com">
              </p>
              <p>
                  <label for="subject">Subject</label>
                  <input type="text" name="subject" id="subject" placeholder="Headline topic to discuss?">
              </p>
              <p>
                  <label for="message">Message</label>
                  <textarea cols="30" rows="10" name="message" id="message" placeholder="Write Your message"></textarea>
              </p>
              <p>
                  <button class="button">Send</button>
              </p>
          </form>
          <div class="text-right">
              <ul class="right animate">
                  <li>
                      <span>Office</span>
                      <p>Cairo, BaniSuef </p>
                  </li>
                  <li>
                      <span>Phone</span>
                      <p><a href="http://wa.me/+201147431061">01147431061</a></p>
                  </li>
                  <li>
                      <span>Office</span>
                      <p>Cairo, BaniSuef </p>
                  </li>
                  <li>
                      <span>How can we work?</span>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint accusantium sed magnam officia laudantium harum, possimus soluta architecto fugit numquam. </p>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>