<div class="parent">
  <div class="signup-container" id="signup-container">
    <h2>Login</h2>
    <form class="signup-form" action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" name="userName" [(ngModel)]="loginObj.userName" placeholder="Enter your username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" name="password" [(ngModel)]="loginObj.password" placeholder="Enter your password" required>

        <button class="mt-2" type="button" [disabled]="!loginObj" (click)="login()">Login</button>
    </form>

  </div>
</div>

